<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAq4I1Rbl1cjSvNlCk5CjVAacw46UeQZiY</string>
	<key>GCM_SENDER_ID</key>
	<string>683724291000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skinDetectionSystem</string>
	<key>PROJECT_ID</key>
	<string>skin-disease-detection-s-57573</string>
	<key>STORAGE_BUCKET</key>
	<string>skin-disease-detection-s-57573.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683724291000:ios:67b9a0c7d75d3c02182d4d</string>
</dict>
</plist>